$color-bg-header : #000;
$color-bg-2 :#FFF;
$color-text-header : #F6F6F6;
$color-bg-1: #0000;
$color-purple-1: #ae18e2;
$color-red-1: #f50e0e;
$color-white-1: #ffffff;


$fw-light : 300;
$fw-regular : 400;
$fw-medium : 500;
$fw-bold : 700;

$xs : 576px;
$sm : 768px;
$md : 992px;
$lg : 1200px;
$xxl : 1320px;

$fs-1: 40px;
$fs-2: 20px;
$fs-3: 18px;
$fs-4: 16px;
$fs-5: 14px;